In [3]:
import pandas as pd 
import datetime
import numpy as np

In [4]:
df=pd.read_csv('subscribers.csv')

In [5]:
df[:5]

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:16,2020-06-07 21:44:16,NaN,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,...,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:35,2020-07-15 15:44:35,NaN,True
2,496617,26844789,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,True,...,0.1101,ar,NaN,14,False,0,NaN,NaN,NaN,True
3,356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,30.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
4,681701,26723159,base,4.0,comedy,replace OTT,22.951579,3.0,28.0,False,...,0.0367,ar,NaN,14,True,2,2020-02-19 12:57:07,2020-06-19 12:57:07,NaN,True

In [6]:
df['time']=pd.to_datetime(df['account_creation_date'])

In [7]:
df['year']=df['time'].dt.strftime('%Y%m')

In [8]:
df['year']

0         202001
1         202003
2         201912
3         202001
4         201910
           ...
227623    201911
227624    201912
227625    201912
227626    202001
227627    201911
Name: year, Length: 227628, dtype: object

In [9]:
Atr_new=df[['year','attribution_survey']].dropna()

In [10]:
Atr_new_tec=df[['year','attribution_technical']].dropna()

In [11]:
year_list=Atr_new['year'].drop_duplicates()

In [12]:
year_list_tech=Atr_new['year'].drop_duplicates()

In [13]:
dic1={}
for i in year_list:
    dic1[i]=[]

In [14]:
dic_tech={}
for i in year_list_tech:
    dic_tech[i]=[]

In [15]:
for i in range(len(Atr_new)):
    try:
        if Atr_new['year'][i] in dic1.keys():
            dic1[Atr_new['year'][i]].append(Atr_new['attribution_survey'][i])
    except:
        pass

In [16]:
for i in range(len(Atr_new_tec)):
    try:
        if Atr_new_tec['year'][i] in dic_tech.keys():
            dic_tech[Atr_new_tec['year'][i]].append(Atr_new_tec['attribution_technical'][i])
    except:
        pass

In [17]:
for i,v in dic_tech.items():
    method_tech={}
    for n in v:
        method_tech[n]=method_tech.get(n, 0) + 1
        dic_tech[i]=method_tech

In [18]:
for i,v in dic1.items():
    method={}
    for n in v:
        method[n]=method.get(n, 0) + 1
        dic1[i]=method

In [39]:
survey=pd.DataFrame(dic1)
survey.to_csv('survey_number.csv')

In [40]:
tech=pd.DataFrame(dic_tech)
tech.to_csv('tech_number.csv')

### This part is make embeded dictionary for Atrrbution Fee

In [21]:
fee=pd.read_csv('channel_spend_graduate.csv')

In [22]:
fee

     channel    date  spend_AED
0       bing  201907        400
1    display  201907         12
2   facebook  201907       9000
3     search  201907      13000
4    youtube  201907         90
5       bing  201908        900
6    display  201908         20
7   facebook  201908      13000
8     search  201908      18500
9    youtube  201908        180
10      bing  201909       1000
11   display  201909         13
12  facebook  201909      10500
13    search  201909      19000
14   youtube  201909        100
15      bing  201910       1100
16   display  201910         19
17  facebook  201910      17000
18    search  201910      24000
19   youtube  201910        130
20      bing  201911       1300
21   display  201911         29
22  facebook  201911      23000
23    search  201911      25000
24   youtube  201911        550
25      bing  201912        300
26   display  201912         31
27  facebook  201912      16000
28    search  201912      38000
29   youtube  201912        900
30      bing  202001       2100
31   display  202001        148
32  facebook  202001      11000
33    search  202001      41000
34   youtube  202001       4360
35      bing  202002       3700
36   display  202002         94
37  facebook  202002      14000
38    search  202002      44000
39   youtube  202002       2420

In [23]:
fee['date']=[str(n) for n in fee['date']]

In [24]:
date_list=fee['date'].drop_duplicates()

In [25]:
date_list

0     201907
5     201908
10    201909
15    201910
20    201911
25    201912
30    202001
35    202002
Name: date, dtype: object

In [26]:
date_list=[str(n) for n in date_list ]

In [27]:
fee_dic={}
for i in date_list:
    fee_dic[i]={}

In [28]:
for i in range(40):
        if fee['date'][i] in fee_dic.keys():
            fee_dic[fee['date'][i]].update({fee['channel'][i]:fee['spend_AED'][i]})

### Comput the Averge fee by different attribute method

In [29]:
import copy

In [30]:
Ave_dic=copy.deepcopy(fee_dic)

In [31]:

for k,v in dic1.items():
    for n in v:
        try:
            if fee_dic[k][n]:
                Ave_dic[k][n]=(round(float(fee_dic[k][n]/dic1[k][n]),3))
        except:
            pass

In [32]:
Ave_dic

{'201907': {'bing': 400,
  'display': 12,
  'facebook': 0.629,
  'search': 24.575,
  'youtube': 1.071},
 '201908': {'bing': 900,
  'display': 20,
  'facebook': 0.854,
  'search': 23.748,
  'youtube': 0.692},
 '201909': {'bing': 1000,
  'display': 13,
  'facebook': 0.908,
  'search': 24.58,
  'youtube': 0.481},
 '201910': {'bing': 1100,
  'display': 19,
  'facebook': 1.282,
  'search': 28.402,
  'youtube': 0.478},
 '201911': {'bing': 1300,
  'display': 29,
  'facebook': 1.376,
  'search': 29.172,
  'youtube': 1.786},
 '201912': {'bing': 300,
  'display': 31,
  'facebook': 1.209,
  'search': 37.218,
  'youtube': 3.719},
 '202001': {'bing': 2100,
  'display': 148,
  'facebook': 1.096,
  'search': 35.871,
  'youtube': 6.072},
 '202002': {'bing': 3700,
  'display': 94,
  'facebook': 1.201,
  'search': 33.133,
  'youtube': 4.481}}

In [33]:
Ave_dic_tech=copy.deepcopy(fee_dic)
for k,v in dic_tech.items():
    for n in v:
        try:
            if fee_dic[k][n]:
                Ave_dic_tech[k][n]=round(float(fee_dic[k][n]/dic_tech[k][n]),3)
        except:
            pass

In [34]:
Ave_dic_tech

{'201907': {'bing': 3.333,
  'display': 0.273,
  'facebook': 0.899,
  'search': 9.789,
  'youtube': 11.25},
 '201908': {'bing': 12.676,
  'display': 0.27,
  'facebook': 1.319,
  'search': 9.541,
  'youtube': 12.0},
 '201909': {'bing': 11.905,
  'display': 1.083,
  'facebook': 1.713,
  'search': 10.259,
  'youtube': 50.0},
 '201910': {'bing': 12.791,
  'display': 0.38,
  'facebook': 1.792,
  'search': 10.287,
  'youtube': 11.818},
 '201911': {'bing': 12.621,
  'display': 0.322,
  'facebook': 1.77,
  'search': 9.96,
  'youtube': 11.702},
 '201912': {'bing': 10.714,
  'display': 0.277,
  'facebook': 1.723,
  'search': 10.08,
  'youtube': 11.842},
 '202001': {'bing': 12.209,
  'display': 0.276,
  'facebook': 1.749,
  'search': 10.066,
  'youtube': 11.784},
 '202002': {'bing': 12.211,
  'display': 0.276,
  'facebook': 1.753,
  'search': 10.233,
  'youtube': 11.805}}

In [37]:
fee_=pd.DataFrame(fee_dic)

In [41]:
fee_.to_csv('fee.csv')